<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <runtime>

  </runtime>
  <appSettings>
    <!-- <add key="festiMSURL" value="http://localhost:60423/"/> -->
    <add key="festiMSURL" value="https://festims.azurewebsites.net"/>
    <add key="geordistorage" value="https://festi-storage.azurewebsites.net/api/Images/Upload"/>
    <!-- <add key="geordistorage" value="http://localhost:55661/api/Images/Upload"/> -->

  </appSettings>
</configuration>